<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer1">
    <footer class="main-footer">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-md-8 text-center text-sm-right py-4 py-sm-5">
                    <ul class="list-unstyled m-0">
                        <li class="d-inline-block mt-0"><a href="#">Privacy</a></li>
                        <li class="d-inline-block mt-0 pl-5"><a href="#">Terms</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center text-sm-left py-0 py-sm-5">
                    <span>© 2019 Mevron Inc.</span>
                </div>
            </div>
        </div>
    </footer>
</div>

<div th:fragment="main_footer">

    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-flex align-items-center">
                    <div class="available-device">
                        <h2 class="footer-heading">Go mobile for your smartphone.</h2>
                        <p class="w-100 my-4">Install the Mevron app on Android or iOS.</p>
                        <div class="store_btn w-100">
                            <a href="#" class="d-inline-block"><img src="img/play_store.png" alt=""></a>
                            <a href="#" class="d-inline-block my-2 mr-2"><img src="img/app_store.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                    <h6>Our Products</h6>
                    <ul class="list-unstyled m-0">
                        <li><a href="#">Drive</a></li>
                        <li><a href="#">Ride</a></li>
                        <li><a href="#">Bike</a></li>
                        <li><a href="#">Trike</a></li>
                        <li><a href="#">Eat</a></li>
                        <li><a href="#">Freight</a></li>
                        <li><a href="#">Charter</a></li>
                        <li><a href="#">Bus</a></li>
                        <!-- <li><a href="#">Transit</a></li> -->
                        <li><a href="#">Business</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <h6>About Us</h6>
                    <ul class="list-unstyled m-0">
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">Global Community</a></li>
                        <li><a href="safety.html">Safety</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-4">
                    <h6>contact Us</h6>
                    <ul class="list-unstyled m-0">
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Get in touch with us via email</a></li>
                        <li><a href="mailto:info@mevron.com" class="link">info@mevron.com</a></li>
                        <li>
                            <ul class="list-unstyled social_links m-0">
                                <li><a href="#"><img src="img/fb_icon.png" alt="Facebook"></a></li>
                                <li><a href="#"><img src="img/twt_icon.png" alt="Twitter"></a></li>
                                <li><a href="#"><img src="img/in_icon.png" alt="Linked in"></a></li>
                                <li><a href="#"><img src="img/tube_icon.png" alt="Youtube"></a></li>
                                <li><a href="#"><img src="img/insta_icon.png" alt="Instagram"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</div>

</body>
</html>